* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* CUSTOM FONTS */
@font-face {
  font-family: "Mikes";
  src: url(./fonts/chubgothic_1.ttf);
}
/* Main Header */
h6 {
  font-family: "Mikes";
  font-size: 4em;
  font-weight: 500;
  color: hsla(0, 100%, 50%, 0.492);
}

h5{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-size: 2em;
  color: white;
}


/* NAVIGATION BAR */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  width: 100vw;
  background: #111;
  font-family: "Mikes";
}

.nav-list {
  display: flex;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 15px 40px;
}

.nav-list li {
  color: red;
  margin-right: 25px;
  cursor: pointer;
}

.nav-right {
  margin-left: auto;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("./images/biker-boyz.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 10px;
}